body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

.fijo{
  width: 100%;
  background: #E3CAA1;
  z-index: 10;
  margin-top: -50px;
  position: fixed;
 
}

header {
color: #fff;
font-size: 2.5em;
text-align: center;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

nav a{
  text-decoration:none;
}

nav ul {

  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
nav ul li {
  font: bold 18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
nav ul li:hover {
  background: #555;
  color: #fff;
}
nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
nav ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
nav ul li ul li:hover { background: #666; }
nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

aside{
    width: 10%;
    height: 60%;
    position: fixed;
    margin-left:85%;
    margin-top: 200px;
     background:   #FFF8DC;
}

aside img{
  width: 100%;
  height: 30%;
}

section{
  position: absolute;
  padding-left: 20px;
  text-align: left;
  margin-top: 200px;
  background:   #FFF8DC;
  width: 80%;
}


footer{
  position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background: #333;
  color: white;
  text-align: center;
  
  margin-top: 40px;
}

/* Para que se centre bien el contenido. By Juan */
article {
  padding: 0 5% 0 5%;
  padding-bottom: 8em; /* Para que el contenido no se esconda tras el footer gigante de javi */
}

article p {
  margin-right: 10em;
}
/* Para que se centre bien el contenido. By Juan */

footer p {
  font-size: 1em;
}

#autor{
  font-size: 1.5em;
  text-align: center;
}

video{
  margin-left: 25%;
}


cite {
  font-size: 1.5em;
}



/* ##################### ACCESIBILIDAD ##################### */

.acce h1 {
  font-size: 3.2em;
  text-shadow: 3px 3px 2px grey;
  text-align: center;
}

.acce p {
  margin-right: 10em;
}

.acce h2 {
  font-size: 2.2em;
}
#img1 {
  float: right;
  border-radius: 12px 12px 12px 12px;
  width: 20em;
  margin: 15px;
}
#img2 {
  display:block;
  margin: 0 auto;
  border-radius: 12px 12px 12px 12px;
  width: 40em;
  margin-top: 30px;
  margin-bottom: 30px;
}
#img3 {
  display:block;
  margin: 0 auto;
  border-radius: 12px 12px 12px 12px;
  width: 20em;
  margin-top: 30px;
  margin-bottom: 30px;
}
#img4 {
  float: right;
  border-radius: 12px 12px 12px 12px;
  width: 8em;
  margin: 20px;
}

code {
  font-style: italic;
}

.listapasos {
  list-style-type: square;
}
.listadisp {
  font-weight: bolder;
}
q {
  font-style: italic;
  padding-right: 50%;
}


/* ##################### ACCESIBILIDAD ##################### */